[Unit]
Description=Neon Contents Grapple

[Service]
#Type=simple
WorkingDirectory=/home/neonapis/data
Environment=PORT=9100
Environment=GOMAXPROCS=4
ExecStart=/home/neonapis/bin/neon-contents-grapple
Restart=always

[Install]
WantedBy=default.target

